<!DOCTYPE html>
<html>
    <head>
        <title>
            Add Package
        </title>
        <link rel ="stylesheet" href="styling-hack.css">
        <script>
        </script>
    </head>
    <body>
        <div id = "title-page">Add Package</div>
        <br>
        <br>
        <br>
        <div>
    <form action="">
        <label for="rollno" style ="font-size: 20PX;">Roll No:</label><br>
        <input type="text" id="rollno" name="rollno" style ="font-size: 20PX;"><br>
        <br>
        
        <label for= "source" style ="font-size: 20PX;">Source:</label><br>
        <input type = "text" id="source" name ="source" style ="font-size: 20PX;"><br>
        <br>
        <br>
        <br>
        <input type= "Submit" value="Submit" style ="font-size: 20PX;">
    </form>        
    </div>
    </body>
</html>