<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collect Package</title>
    <link rel="stylesheet" href="style.css" />
    <script>
        function get_Date(Date){ //gets date of collection from the security as input
            document.getElementById("Date").innerHTML=Date;
        }

        function get_Time(Time){ //gets time of collection from the security as input
            document.getElementById("Time").innerHTML=Time;
        }

        function get_OTP(OTP){ //security inputs the OTP, checked in background, if yes, verified
            document.getElementById("OTP").innerHTML=OTP;
        }
        </script>
</head>
<body>
    <div id="heading">&nbsp;IIIT Courier Portal</div><br>
    <div id="heading2">&nbsp;Collect Package: </div> <!--add search functionality here to search for the package number-->
    <div id="table">
        <table id="tables">
            <tr>
                <th colspan="6">Package ID: 1892 &ensp; 18 Jan 2024 &ensp; 18:35</th> <!--based on the search, this is generated: the package id, the date and time of arrival-->
            </tr>
            
            <tr> <!--based on search -->
                <td>Ramlal Mohanlal</td>
                <td>2014113012</td>
                <!--to be inputed by the security-->
                <td id="Date"></td>
                <td id="Time"></td>
                <td id="OTP"></td>
                <td id="Verify"></td> <!--if OTP matches, print verfied in this cell: check if to be implemented, optional-->
            </tr>

            <script>get_Date("19-Jan-2024"), get_Time("12-01"), get_OTP(34);</script>
  
        </table>
      </div>
</body>
</html>