<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "styling-hack.css">
        <title>
            Package Security Homepage
        </title>
        <script>

        </script>
    </head>
    <body id="new-body">
        <div id = "Security-title">
            Security Homepage
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div>
        <a href = "" style="font-size: 40px"><b>Add package</b></a>
        </div>  
        <br>
        <br>
        <br>
        <div>
        <a href = "" style ="font-size:40px"><b>Collect package</b></a>
        </div>
    </body>
</html>